.title__app {
   margin: 0 auto;
    padding-block: 1rem;
    width: 280px;
    font-size: 1.25rem;
    font-family: inherit;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -4px var(--color-grey);
-webkit-box-shadow: 3px 3px 10px -4px var(--color-grey);
-moz-box-shadow: 3px 3px 10px -4px var(--color-grey);
}

@media screen and (min-width: 764px){
    .title__app {

        width: 400px;
        font-size: 1.75rem;
    }
}