.switch {
    display: flex;
    align-items: center;
    position: relative;
    height: 1.5rem;
    width: 2.5rem;
    background-color: var(--color-violet);
    border-radius: 1rem;
}

.switch__btn {
    position: absolute;  
    left: 0;
    width: .85rem;
    height: .85rem;
    background-color: var(--color-white);
    margin: .25rem;
    border-radius: 50%;
    transition: left .1s ease-in-out;
}

.switch__btn--active {
    left: 45%;
}

@media screen and (min-width: 1023px) {
    .switch__btn {
        cursor: pointer;
    }
}